* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: 'Rubik Mono One', sans-serif;
}

body {
    position: relative;
}

.spazio {
    height: 100vh;
    width: 100vw;
    text-align: center;
    margin: auto;
}

.spazio img {
    margin: auto;
    display: block;
    width: 45vw;
}
.spazio.rosso {
    background-color: red;
}

.sottotesto {
    margin-top: 9vh;
    margin: auto;
    font-variant: small-caps;
    font-size: 3rem;
    font-weight: bold;
    width: 45vw;
    padding: 10px;


}

.numeretti {
    position: absolute;
    top: 40px;
    right: 10px;
}

.sottotesto.giallo {
    color: yellow;
}

div.numeretti>span {
    background-color: white;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}